<header class="style_header__21AOY">
  {% load static %}
  <div class="style_container__mLpjI">
    <div class="style_headerContent__fyAv7">
      <nav class="style_nav__1k-TH">
        <div class="style_nav__container__3EI6k">
          <ul class="style_nav__items__sxjNk">
            <li class="style_nav__item__3KPy-">
              <a class="style_link__1kPh8 style_nav__link__2rAY6" href="/recipes">
                Рецепты
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="styles_menu__3-KEH">
        <a class="style_link__1kPh8 styles_menuLink__3a59I active" href="/signin" aria-current="page">Войти</a>
        <a class="style_link__1kPh8 styles_menuButton__1RUEF" href="/signup">Создать аккаунт</a>
      </div>
    </div>
  </div>
</header>